@import "tailwindcss";
@import '../app/_styles/fonts.css';

.lufga_regular {
  font-family: 'lufga';
  font-weight: 400;
}

.lufga_medium {
  font-family: 'lufga';
  font-weight: 500;
}

.lufga_semibold {
  font-family: 'lufga';
  font-weight: 600 !important;
}

.sf_pro_regular {
  font-family: 'SF_Pro';
  font-weight: 400;
}

.sf_pro_medium {
  font-family: 'SF_Pro';
  font-weight: 500;
}

.sf_pro_bold {
  font-family: 'SF_Pro';
  font-weight: 700;
}